<div class="container">
  
    <h1 class="title is-centered mt-4">Update</h1> 


<form [formGroup]="form" class="box" (ngSubmit)="submit()">
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" id="title" placeholder="title" formControlName="title" [(ngModel)]="post.title"/>
  </div>
  @if ((f['title'].errors && f['title'].errors['required']) || 
  (f['title'].touched && f['title'].invalid)) {

      <p class="has-text-danger ">Title is Required</p>
  }
</div>

<div class="field">
  <label class="label">Body</label>
  <div class="control">
    <input class="input" type="text" id="body" placeholder="body" formControlName="body" [(ngModel)]="post.body"/>
  </div>
  @if (f['body'].errors && f['body'].errors['required']) {

    <p class="has-text-danger ">Body is Required</p>
}
</div>
<div>
 <div class="buttons">

     <button type="submit" class="button is-primary is-rounded" [disabled]="!form.valid">Update</button>
     <button class="button is-dark is-rounded" routerLink="/post">Back</button> 
 </div>
</div>
</form>
</div>
